*{
    font-family: 'Franklin Gothic';
    margin: auto;
}

:not(header *,nav *){
    background-color: rgb(226, 226, 226);
}

#logo{
    width: 150px;
    float: right;
    margin-right: 5px;
    margin-top: 7px;
}

header, nav.menu{
    background-color: orange;
    color: white;
}


#perfil{
    float: left;
    width: 150px;
    border-style: solid;
    border-color: orange;
}

nav.menu li{
    display: inline;
}
nav.menu a{
    text-decoration: none;
    color: black;
}

nav.menu a:hover{
    background-color: white;
}

h2{
    border-style: solid;
    border-color: orange;
    background-color: black;
    color:white;
    clear: left;
    font-size: x-large;
    width: 100%;
}

#datos{
    
    margin: auto;
}

section:not(#datos){
    margin: 5px;
    width: 80%;
    clear: both;
}

div ul{
    margin: 5px;
    float: left;
    font-size: large;
}

.der{
    text-align: right;
    float: right;
}

.izq{
    text-align: left;
    float: left;
}

table{
    width: 80%;
    border-collapse: collapse;
    font-size: large;
    margin: 10px auto;
    text-align: initial;
}

table, th, td{
    background-color:antiquewhite;
    border: 2px solid black;
}

th{
    background-color: orange !important;
    color: white;
}

@media screen and (max-width: 1000px){
    section{
        width: 100%;
    }

    #datos{
        position: static;
    }
}