<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículum Vitae</title>
    <link rel="stylesheet" href="cv.component.css">
</head>
<body>
    <main>
        <header>
            <img id="logo" src="assets/img/negro-horizontal.png" alt="Logo babel">
            <h1>Currículum Vitae</h1>
        </header>

        <nav class="menu">
            <ul>
                <li><a href="#resumen">Resumen</a></li>
                <li><a href="#estudios">Estudios</a></li>
                <li><a href="#experiencia">Experiencia profesional</a></li>
                <li><a href="#conocimientos">Conocimientos</a></li>
                <li><a href="#idiomas">Idiomas</a></li>
            </ul>
        </nav>

        <section id="datos">
            <img id="perfil" src="assets/img/fotoAle.jpg" alt="Foto de Perfil">
            <div><ul id="datos_personales">
                <li><b>Nombre:</b> {{nombre}}</li>
                <li><b>Fecha de Nacimiento:</b> 08/11/2000</li>
                <li><b>Sexo:</b> Masculino</li>
                <li><b>Provincia:</b> {{provincia}}</li>
            </ul>
            <ul id="datos_contacto">
                <li><b>Email:</b> {{email}}</li>
                <li><b>Teléfono:</b> +34 999999999</li>
            </ul></div>
        </section>

        <section id="resumen" class="der">
            <h2>Resumen</h2>
            <p>
                Me llamo Alejandro y soy estudiante en el último año de ingeniería del software. Actualmente estoy realizando prácticas en Babel a través del BabelCamp 7.0. 
                Siempre he obtenido buenas calificaciones en mi trayectoria como estudiante, llegando a cosechar dos matrículas de honor en la universidad. 
                Tengo interés en el desarrollo software, conocer nuevas tecnologías y en todo tipo de Inteligencia Artificial. Tengo conocimiento sobre múltiples 
                tecnologías pero principalmente he trabajado con {{java}} y {{python}}, haciendo uso de frameworks como Spring y Django. Habituado al trabajo en equipo usando metodologías ágiles como Scrum.
            </p>
            <br>
            <p>
                Consulta mi currículum para más información, si estás interesado en contar conmigo no dudes en contactarme preferiblemente por correo.
            </p>
        </section>

        <section id="estudios" class="izq">
            <h2>Estudios</h2>
            <table>
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Intitución educativa</th>
                        <th>Años</th>
                        <th>Nota Media</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{titulo1}}</td>
                        <td>Universidad de Sevilla</td>
                        <td>2018-Actualidad</td>
                        <td>8.07</td>
                    </tr>
                    <tr>
                        <td>{{titulo2}}</td>
                        <td>I.E.S. Virgen de Valme</td>
                        <td>2016-2018</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="experiencia" class="der">
            <h2>Experiencia profesional</h2>
            <table>
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Puesto</th>
                        <th>Duración</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{empresa}}</td>
                        <td>Prácticas BabelCamp 7.0</td>
                        <td>6 meses</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="conocimientos" class="izq">
            <h2>Conocimientos</h2>
            <ul class="categorias">
                <li>Tecnologías usadas frecuentemente</li>
                <ul id="tec_frec">
                    <li>{{java}}</li>
                    <li>{{python}}</li>
                    <li>Spring Boot</li>
                    <li>Git</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>MySQL</li>
                    <li>PLSQL</li>
                    <li>Docker</li>
                    <li>Boostrap</li>
                    <li>UML</li>
                    <li>JSP</li>
                    <li>JUnit</li>
                    <li>Maven</li>
                </ul>
                <li>Tecnologías usadas ocasionalmente</li>
                <ul id="tec_poco_frec">
                    <li>C++</li>
                    <li>Php</li>
                    <li>C#</li>
                    <li>R</li>
                    <li>Lua</li>
                    <li>PostgreSQL</li>
                    <li>XML</li>
                    <li>JavaScript</li>
                    <li>Oracle Database</li>
                    <li>PhpMyAdmin</li>
                    <li>Laravel</li>
                    <li>Django</li>
                    <li>Kubernetes</li>
                    <li>JQuery</li>
                    <li>SQLite</li>
                    <li>API REST</li>
                    <li>MariaDB</li>
                    <li>Mockito</li>
                    <li>Wordpress</li>
                </ul>
                <li>Habilidades personales</li>
                <ul id="hab">
                    <li>Trabajo en equipo</li>
                    <li>Autonomía</li>
                    <li>Capacidad para aprender cosas nuevas</li>
                    <li>Resolución de problemas</li>
                    <li>Empatía</li>
                    <li>Organizacion y Puntualidad</li>
                    <li>Responsabilidad en el trabajo</li>
                </ul>
                <li>Herramientas usadas ocasionalmente</li>
                <ul id="herr_frec">
                    <li>Eclipse</li>
                    <li>VSCode</li>
                    <li>GitHub</li>
                    <li>Discord</li>
                    <li>Google Drive</li>
                    <li>OneDrive</li>
                    <li>Teams</li>
                    <li>VirtualBox</li>
                    <li>XAMPP</li>
                    <li>LaTex</li>
                    <li>Sage</li>
                    <li>Octave</li>
                    <li>MatLab</li>
                </ul>
                <li>Herramientas usadas ocasionalmente</li>
                <ul id="herr_poco_frec">
                    <li>Postman</li>
                    <li>SonarLint</li>
                    <li>SonarQube</li>
                    <li>TortoiseSNV</li>
                </ul>
                <li>Conceptos adquiridos</li>
                <ul id="conceptos">
                    <li>MVC</li>
                    <li>Scrum</li>
                    <li>Kanban</li>
                    <li>Redes Neuronales</li>
                    <li>Aprendizaje automático</li>
                    <li>Algoritmos genéticos</li>
                </ul>
                <li>Sistemas Operativos</li>
                <ul id="sistemas operativos">
                    <li>Windows</li>
                    <li>Linux</li>
                </ul>
            </ul>
        </section>

        <section id="idiomas" class="der">
            <h2>Idiomas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Idioma</th>
                        <th>Nivel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Español</td>
                        <td>Nativo</td>
                    </tr>
                    <tr>
                        <td>{{ingles}}</td>
                        <td>B2</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>