<main class="login">
	<h1>Inicia Sesión</h1>
	<div class="form">
		<label for="username">Usuario:</label> 
		<input id="username" type="text" name="username" [(ngModel)]="username" autofocus/>
        <span [hidden]="usernameVacioError">El nombre es obligatorio</span>
        <span [hidden]="ususarioNoExisteError">El usuario no existe</span>
		<br/>
		<label for="password">Contraseña:</label> 
		<input id="password" type="password" name="password" [(ngModel)]="password"/>
        <span [hidden]="passwordVacioError">La contraseña es obligatoria</span>
        <span [hidden]="passwordIncorrectoError">La contraseña no es correcta</span>
		<br/>
		<button (click)="login()">Iniciar Sesión</button>
	</div>
</main>
