<div class="form">
    <label for="idHeroe">ID</label>
    <div>
        <input id="idHeroe" disabled="disabled" value="{{id==0?'':id}}"/>
    </div>

    <label for="titulo">Título</label>
    <div>
        <input id="titulo" [(ngModel)]="titulo"/>
        <span class="rojo" [hidden]="tituloObligatorioOculto">El título es obligatorio</span>
    </div>    

    <label for="compania">Compañía</label>

    <div>
        <input id="compania" [(ngModel)]="compania"/>
        <span class="rojo" [hidden]="companiaObligatorioOculto">La compañía es obligatoria</span>
    </div>

    <label for="valoracion">Valoración</label>

    <div>
        <input id="valoracion" type="number" [(ngModel)]="valoracion"/>
        <span class="rojo" [hidden]="valoracionObligatorioOculto">La valoración es obligatoria</span>
        <span class="rojo" [hidden]="valoracionRangoOculto">La valoración debe estar entre 0 y 10</span>
    </div>
    <br/>
    
    <div> 
        <button (click)="insertar()">Insertar</button>
        <button (click)="vaciar()">Vaciar</button>
    </div>
</div>

<br/>

<table>    
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Compañía</th>
            <th>Valoración</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of listaVideojuegos">
            <td>{{ v.id }}</td>
            <td>{{ v.titulo }}</td>
            <td>{{ v.compania }}</td>
            <td>{{ v.valoracion }}</td>
        </tr>
        <tr *ngIf="listaVideojuegos.length==0">
            <td class="rojo" colspan="4">
                No se han encontrado videojuegos
            </td>
        </tr>
    </tbody>
</table> 